[Unit]
Description=Fix startup screen resolution
After=default.target
StartLimitBurst=30
StartLimitIntervalSec=10 m

[Service]
Restart=on-failure
Type=idle
RemainAfterExit=yes
ExecStart=/home/patrick/recurse/bash-scripts/systemd-fix-resolution/fixresolution.sh

[Install]
WantedBy=default.target
